/* 
--Spacing system
2/4/8/12/16/24/32/48/64/80/96/128
--Font size
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
--Colors:
Primary: #e67e22
Tints: #cf711f
Shades: #cf711f
Accents:
Greys: #555, #333
--font weights
Default: 400
Medium-500
600
700
--Letter spacing
0.75px
-0.5px
--Border-Radius: 9px
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
    /* outline: 4px dotted #e67e22;
    outline-offset: 8px; */
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.500);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #666;
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}
.logo{
    height: 2.4rem;
}
/* NAVIGATION */
.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}
.main-nav-link:link, .main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active{
    color: #cf711f;
}
/* To appear both times we use the parent class as well */
.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 0.9rem;
    color: #fff;
    background-color: #e67e22;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active{
    background-color: #cf711f;
    box-shadow: inset 0 0 0 3px #fff;
}
/* *********************** */

/* GENRAL REUSABLE COMPONENTS */

.heading-primary{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5;
    margin-bottom: 3.2rem;
}
/* BUTTON */
.btn, .btn:link, .btn:visited{
    display: inline-block;
    background-color: #e67e22;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 1.6rem 3.2rem;
    border-radius: 0.9rem;
    text-decoration: none;

    /* Only for .btn itself */
    border: none;
    cursor: pointer;
    font-family: inherit;

    /* Animation */
    transition: all 0.3s;
}
.btn--full:link, .btn--full:visited{
    background-color: #e67e22;
    color: #fff;
}
.btn--full:hover, .btn--full:active{
    background-color: #cf711f;
    box-shadow: inset 0 0 0 3px #fff;
}
.btn--outline:link, .btn--outline:visited{
    background-color: #fff;
    color: #555;
}
.btn--outline:hover, .btn--outline:active{
    background-color: #fdf2e9;
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #cf711f;
}
.btn--form{
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
}
.btn--form:hover{
    background-color: #fff;
    color: #555;
}

/* *********************** */
/* mobile SECTION */
/* *********************** */

.btn-mobile-nav {
    border: none;
    background-color: none;
    cursor: pointer;

    display: none;
}
.icon-mobile-nav[name="close-outline"]{
    display: none;
}
.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

/* *********************** */
/* Sticky navigation */
/* *********************** */

.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fdf2e9;
    z-index: 999;
    /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.02); */
}
.sticky .selection-hero{
    margin-top: 9.6rem;
}
/* *********************** */
/* HERO SECTION */
/* *********************** */

.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 9.6rem 0;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    /* Padding is use to the right of the img coz when px size decreases there's still space */
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}
.hero-description{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}
.hero-img{
    width: 100%;
}
.delivered-meals{
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
    display: flex;
}
.delivered-img{
    display: flex;
}
.delivered-img img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    /* Makes the image go left to look better */
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}
.delivered-img img:last-child{
    margin: 0;
}
.delivered-txt{
    font-size: 1.6rem;
    font-weight: 600;
}
.delivered-txt span{
    color: #cf711f;
    font-weight: 700;
}
.margin-right-sm{
    margin-right: 1.6rem !important;
}
.margin-bottom-md{
    margin-bottom: 4.8rem !important;
}
strong{
    font-weight: 700;
}